<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- Conexión -->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/onlinestore</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Salchichas84</property>

    <!-- Configuración de Hibernate -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property> <!-- Pasar a false en version definitiva -->
    <property name="hibernate.format_sql">true</property> <!-- Pasar a false en version definitiva -->
    <property name="hibernate.hbm2ddl.auto">create</property> <!-- create, update, validate, none TODO poner en validate -->
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.transaction.coordinator_class">jdbc</property>

    <!-- Mapeo de Entidades -->
    <mapping class="modelo.Articulo" />
    <mapping class="modelo.cliente.Cliente" />
    <mapping class="modelo.cliente.ClienteEstandar" />
    <mapping class="modelo.cliente.ClientePremium" />
    <mapping class="modelo.Pedido" />

  </session-factory>
</hibernate-configuration>